/RAM/
/FLASH/
/FLASH__opt_level__off/
/FLASH__opt_level__0/
/FLASH__opt_level__1/
/FLASH__opt_level__2/
/FLASH__opt_level__3/
/FLASH__opt_level__4/
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

.metadata/
Debug/
.plugins/
